{% extends "base.html" %}

{% block content %}
<section class="row">
  <div>
    <h3>{{post_type}}</h3>
  </div>
</section>

<form method="post">
  <section class="row">
      <div>Subject</div>
      <input type="text" name="subject" value="{{subject}}">
  </section>

  <section class="row">
      <div class="col-xs-6">Blog</div>
  </section>
  <section class="row">
      <textarea class="col-xs-12 col-md-6" rows="14" cols="80" name="content">{{content}}</textarea>
  </section>

  <section class="row">
      <input class="enter-button btn btn-default btn-xs" type="submit">
      <div class="warning">{{error}}</div>
      {% if post_id %}
          <a class="btn btn-default btn-xs" href="{{'/blog/'+post_id}}" class="main-title"> Cancel </a>
      {% else %}
          <a class="btn btn-default btn-xs" href="/welcome" class="main-title"> Cancel </a>
      {% endif %}
  </section>
</form>

{% endblock %}
