{% extends "base.html" %}

{% block content %}

    <hr />
    {% if posts.count() == 0 %}
        <p>
            Be the first to post!
        </p>
    {% endif %}

    {% for p in posts %}
        {{ p.render() | safe }}

        <br />
        <a href= {{ '/blog/' + p.key().id()|string}}  class="view"> View </a>
        <br />
        {% if username == p.username %}
            <a href= {{ '/deletepost/' + p.key().id()|string}}  class="delete"> Delete </a>
            <br />
            <a href= {{ '/editpost/' + p.key().id()|string}}  class="edit"> Edit </a>
        {% endif %}
        <br />

        <form method="post">
            <label>
                <input type="hidden" value="{{p.key().id()|string}}" name="post_id" />
                <input type="submit" value="like">
            </label>

        </form>

        <hr />
    {% endfor %}

{% endblock %}
