{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form method="post">
    <table>
        <tr>
            <td>
                Username
            </td>
            <td>
                <input type="text" name="username" value="{{username}}" />
            </td>
            <td class="error">
                {{error_username}}
            </td>
        </tr>

        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" name="password" value="" />
            </td>
            <td class="error">
                {{error_password}}
            </td>
        </tr>
    </table>
    <br />
    <input class="enter-button btn btn-default btn-xs" type="submit">
</form>

{% endblock %}
