<div class='post'>
    <div class='post-heading'>
        <div class='post-title'>
            <p>Title</p>
            {{p.subject}}
        </div>

        <div class='post-author'>
            <p>Author</p>
            {{p.username}}
        </div>

        <div class='post-date'>
            <p>Date</p>
            {{p.created.strftime("%m-%d-%Y")}}
        </div>

        <div class='post-content'>
            <p>Content</p>
            {{p._render_text | safe}}
        </div>
        <hr />
        <div class='post-likes'>
            <p>liked by {{ p.like | count }} people</p>
            {% set i = 0 %}
            {% for pp_like in p.like %}
                {% set i = i + 1 %}
                <p>
                    {{pp_like}}
                </p>
            {% endfor %}
        </div>
        <hr />



    </div>

</div>
