<div class='post'>
    <div class='post-heading'>
        <div class='post-title'>
            <p>Title</p>
            {{p.subject}}
        </div>

        <div class='post-author'>
            <p>Author</p>
            {{p.username}}
        </div>

        <div class='post-date'>
            <p>Created</p>
            {{p.created.strftime("%c")}}
        </div>

        <div class='post-date'>
            <p>Last Modified</p>
            {{p.last_modified.strftime("%c")}}
        </div>

        <div class='post-content'>
            <p>Content</p>
            {{p._render_text | safe}}
        </div>
        <hr />
        <div class='post-likes'>
            <p>liked by {{ p.like | count }} people</p>
            {% for pp_like in p.like %}
                <p>
                    {{pp_like}}
                </p>
            {% endfor %}
        </div>

        <br />
        <a href= {{ '/blog/' + p.key().id()|string}}  class="view"> View </a>
        <br />
        {% if username == p.username %}
            <a href= {{ '/deletepost/' + p.key().id()|string}}  class="delete"> Delete </a>
            <br />
            <a href= {{ '/editpost/' + p.key().id()|string}}  class="edit"> Edit </a>
        {% endif %}
        <br />

        <form method="post">
            <label>
                <input type="hidden" value="{{p.key().id()|string}}" name="post_id" />
                <input type="submit" name="like_button" value="like">
                <div class="like_message">{{message}}</div>
            </label>
        </form>

        <div class='post-comments'>
            <p>comments: {{ p.comment | count }}</p>
            {{ comment_block | safe }}
        </div>

    </div>

</div>
